<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.itcode.onlineSystem.dao.UserMapper">

        <sql id="selectFields">
            USER_ID, USERNAME, PASSWORD, SALT, EMAIL, USER_TYPE, USER_STATUS, CREATE_TIME, NEW_PASSWORD, CONFIRM_PASSWORD, CUST_ACCT, ADDRESS, TELEPHONE, SIGN_COUNT, CACEL_TIME, REAL_NAME
        </sql>

        <sql id="insertFields">
            USER_ID, USERNAME, PASSWORD, AGE, SEX, SALT, EMAIL, USER_TYPE, USER_STATUS, CREATE_TIME, ADDRESS, TELEPHONE, REAL_NAME
        </sql>

        <select id="selectByID" resultType="User">
            select <include refid="selectFields"></include>
            from user
            where USER_ID=#{id}
        </select>

        <select id="selectByName" resultType="User">
            select <include refid="selectFields"></include>
            from user
            where USERNAME=#{username}
        </select>

        <select id="selectByEmail" resultType="User">
            select <include refid="selectFields"></include>
            from user
            where EMAIL=#{Email}
        </select>

        <insert id="insertUser" parameterType="User" keyProperty="id">
            insert into user(<include refid="insertFields"></include>)
            value(#{username},#{password},#{salt},#{email},#{type},#{status},#{createTime},#{address},#{telephone},#{realName})
        </insert>
        <update id="updateStatus">
            update user set USER_STATUS = #{status} where USER_ID = #{id}
        </update>

        <update id="updatePassword">
            update user set PASSWORD = #{password} where USER_ID = #{id}
        </update>

</mapper>