<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.itcode.onlineSystem.dao.UserMapper">

        <sql id="selectFields">
            USER_ID, USER_NAME, PASSWORD, SALT, EMAIL, USER_TYPE, USER_STATUS, CREATE_TIME, NEW_PASSWORD, CONFIRM_PASSWORD, CUST_ACCT, ADDRESS, TELE_NUM, REAL_NAME
        </sql>

        <sql id="insertFields">
            USER_ID, USER_NAME, PASSWORD, SALT, EMAIL, USER_TYPE, USER_STATUS, CREATE_TIME, ADDRESS, TELE_NUM, REAL_NAME
        </sql>

        <select id="selectByID" resultType="cn.itcode.onlineSystem.entity.User">
            select <include refid="selectFields"></include>
            from user
            where USER_ID=#{userId}
        </select>

        <select id="selectByName" resultType="cn.itcode.onlineSystem.entity.User">
            select <include refid="selectFields"></include>
            from user
            where USER_NAME=#{userName}
        </select>

        <select id="selectByEmail" resultType="User">
            select <include refid="selectFields"></include>
            from user
            where EMAIL=#{email}
        </select>

        <insert id="insertUser" parameterType="User" keyProperty="id">
            insert into user(<include refid="insertFields"></include>)
            values(#{userId},#{userName},#{password},#{salt},#{email},#{userType},#{userStatus},#{createTime},#{address},#{teleNum},#{realName})
        </insert>
        <update id="updateStatus">
            update user set USERSTATUS = #{status} where USERID = #{id}
        </update>

        <update id="updatePassword">
            update user set PASSWORD = #{password} where USERID = #{id}
        </update>

        <update id="updateUser">
            update user <set>
              <if test="_parameter !=null">
                  EMAIL=#{EMAIL, jdbcType=VARCHAR}
              </if>
              <if test="_parameter !=null">
                  ADDRESS=#{ADDRESS, jdbcType=VARCHAR}
              </if>
              <if test="_parameter !=null">
                  TELEPHONE=#{TELEPHONE, jdbcType=VARCHAR}
              </if>
            </set>
            where USERNAME=#{USERNAME}
        </update>

</mapper>