<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.itcode.onlineSystem.dao.UserMapper">

        <sql id="selectFields">
            USER_ID, USER_NAME, PASSWORD, SALT, EMAIL, USER_TYPE, USER_STATUS, CREATE_TIME, NEW_PASSWORD, CONFIRM_PASSWORD, CUST_ACCT, ADDRESS, TELE_NUM, REAL_NAME
        </sql>

        <sql id="insertFields">
            USER_ID, USER_NAME, PASSWORD, SALT, EMAIL, USER_TYPE, USER_STATUS, CREATE_TIME, ADDRESS, TELE_NUM, REAL_NAME
        </sql>

        <select id="selectByID" resultType="cn.itcode.onlineSystem.entity.User">
            select <include refid="selectFields"></include>
            from user
            where USER_ID=#{userId}
        </select>

        <select id="selectByName" resultType="cn.itcode.onlineSystem.entity.User">
            select <include refid="selectFields"></include>
            from user
            where USER_NAME=#{userName}
        </select>

        <select id="selectByEmail" resultType="User">
            select <include refid="selectFields"></include>
            from user
            where EMAIL=#{email}
        </select>

        <insert id="insertUser" parameterType="User" keyProperty="id">
            insert into user(<include refid="insertFields"></include>)
            values(#{userId},#{userName},#{password},#{salt},#{email},#{userType},#{userStatus},#{createTime},#{address},#{teleNum},#{realName})
        </insert>
        <update id="updateStatus">
            update user set USER_STATUS = #{status} where USER_ID = #{userId}
        </update>

        <update id="updatePassword">
            update user set PASSWORD = #{password} where USER_NAME = #{userName}
        </update>

        <update id="updateUser" parameterType="User">
            update user <set>
              <if test="_parameter !=null">
                  EMAIL=#{email, jdbcType=VARCHAR},
              </if>
              <if test="_parameter !=null">
                  ADDRESS=#{address, jdbcType=VARCHAR},
              </if>
              <if test="_parameter !=null">
                  TELE_NUM=#{teleNum, jdbcType=VARCHAR}
              </if>
            </set>
            where USER_NAME=#{userName}
        </update>


        <select id="getAccount" resultType="Account">
            select * from account
            where ACCT_ID=#{acctId}
        </select>

         <select id="findByCustName" resultType="Account">
            select * from account
            where CUST_NAME=#{custName}
        </select>

        <select id="searchAll" resultType="Account">
            select * from account;
        </select>
    
        <update id="updateAccount" >
            update account set ACCT_STATUS = #{acctStatus} where ACCT_ID = #{acctId}
        </update>

        <insert id="addAccount" parameterType="Account" keyProperty="id">
            insert into account(
            ACCT_ID,
            CUST_NAME,
            PASSWORD,
            ACCT_TYPE,
            CUST_NUM,
            CUST_ACCT,
            ACCT_SQNUM,
            CCY_CODE,
            ACCT_ATTR,
            ACCT_STATUS,
            UNIT_CODE,
            LAST_UPDATE,
            ACCT_BALC,
            OPACT_DATE,
            SALT)
            values(#{acctId}, #{custName}, #{password}, #{acctType}, #{custNum}, #{custAcct}, #{acctSqnum}, #{ccyCode}, #{acctAttr}, #{acctStatus}, #{unitCode}, #{lastUpdate}, #{acctBalc}, #{opactDate}, #{salt})
        </insert>

        <delete id="delAccount" parameterType="Account" >
            delete from account where ACCT_ID = #{acctId}
        </delete>

</mapper>